:root {
  --navbar-color: #34495e;
  --font-family: "Poppins", sans-serif;
  --categories-bg: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);

  background-color: #ecf0f1;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  z-index: 1;
  position: sticky;
  top: 0px;
  overflow: hidden;
  background-color: var(--navbar-color);
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search__container {
  padding-top: 5px;
  width: 500px;
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 18px;
  line-height: 18px;
  color: white;
  border-radius: 50px;
  border: 1px solid #bdc3c7;
  transition: all 250ms ease-in-out;
  letter-spacing: 1.5px;
}

.search__input::placeholder {
  color: #95a5a6;
  letter-spacing: 4px;
}

.search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #7f8c8d;
  border-radius: 0;
}

li {
  margin-right: 20px;
}

li a {
  display: block;
  color: #ecf0f1;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a:active {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.logo>a>img {
  margin-left: 50px;
  height: 60px;
  width: 130px;
}

.categories {
  z-index: 1;
  position: sticky;
  top: 80px;
  height: 50px;
  background-color: var(--categories-bg);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.category-item {
  margin-right: 10px;
}

.category-item:hover,
.dropdown-content div:hover {
  transition: 0.7s;
  z-index: 1;
  font-size: 17px;
  background-color: #34495e;
  color: #ecf0f1;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 20px;
  z-index: 2;
  font: bolder;
  color: black;
  background-color: lightblue;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  column-count: 4;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content,
.center {
  z-index: 1;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categorybox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-categorybox {
  width: 870px;
  border: 1px solid #ccc;
  padding: 10px;

  margin: 10px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  z-index: 0;
  /* Ensure the category box is above other elements */
}

.post-box {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 900px;
  position: relative;
  z-index: 0;
  /* Ensure the post box is behind the category box */
  margin: 15px;
}

.dropdown div {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.category-box {
  display: flex;
  align-items: center;
}

.category-pic {
  height: 100px;
  width: 100px;
}

.category-info {
  margin-left: 10px;
  text-align: left;
}

.category-name {
  font-size: 1.2em;
  font-weight: bold;
}

.profile-section {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}

.profile-picture {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
}

.title-section {
  padding-top: 20px;
  padding-left: 20px;
}

.description-section {
  padding-left: 20px;
  padding-right: 20px;

  margin-bottom: 20px;
}

.post-actions {
  height: 40px;
  width: 100%;
}

/* Like button */
.heart-like-button {
  position: absolute;
  width: 35px;
  height: 28px;
  bottom: 5px;
  left: 20px;
}

.heart-count {
  position: absolute;
  bottom: 10px;
  left: 65px;
  font-size: 14px;
}

.heart-like-button:before {
  position: absolute;
  top: 0;
  left: 17.5px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 17.5px;
  height: 27.5px;
  border-radius: 8.75px 8.75px 0 0;
  background-color: rgb(171, 165, 165);
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}

.heart-like-button:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  width: 17.5px;
  /* Slightly decreased width */
  height: 27.5px;
  /* Slightly decreased height */
  border-radius: 8.75px 8.75px 0 0;
  background-color: rgb(171, 165, 165);
  content: "";
  cursor: pointer;
  transition: background 0.4s;
}

@media screen and (max-width: 480px) {
  #container {
    height: auto;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
  background-color: #b01e28;
}

.heart-like-button.liked {
  animation: liked 0.4s ease;
}

@keyframes liked {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.ans-btn {
  height: 30px;
  bottom: 3px;
  left: 10%;
  cursor: pointer;
  position: absolute;
  border: hidden;
  background-color: transparent;
  border-radius: 5px;
}

.ans-img {
  height: 30px;
  width: 30px;
}

.share-button {
  position: absolute;
  bottom: 0;
  right: 5px;
  cursor: pointer;
}

h1 {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 0 0;
  color: #888888;
}

footer {
  width: 100%;
  position: sticky;
  bottom: -45%;
}

.foot-panel1 {
  background-color: #374758;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 210px;
  display: flex;
  justify-content: space-evenly;
}

.ul {
  margin-top: 20px;
}

.ul a {
  display: block;
  text-decoration: none;
  color: #dddddd;
  font-size: 1.1rem;
  margin-top: 10px;
}

.foot-panel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
  font-size: 15px;
}

.copy {
  margin-top: 5px;
  font-size: 15px;
}

.pages a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  padding: 10px;
  color: #fff;
}

#header button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#header button:hover {
  background-color: #2980b9;
}

/* Styling for popups */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #f9f9f9;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.popup h2 {
  margin-bottom: 20px;
  color: #333;
}

.popup label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

#askQuestionBtn,
#createPostBtn {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

#askQuestionBtn:hover,
#createPostBtn:hover {
  background-color: #2980b9;
}

#askQuestionBtn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#createPostBtn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.popup input,
.popup textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  resize: none;
  border-radius: 4px;
}

.popup button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #2980b9;
}

.popup #closePopupBtn {
  background-color: #e74c3c;
}

.popup #closePopupBtn:hover {
  background-color: #c0392b;
}

.askingbtnbar {
  padding: 10px;
  border-radius: 5px;
  width: 900px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}