::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: black;
}

.main {
    margin: 20px;
    border-radius: 20px;
    background-color: #e2e8f0;

    display: flex;
}

#userList {
    list-style-type: none;
    height: 50rem;
    overflow-y: scroll;
    width: 300px;
}

#userList li {
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s;
}

#userList li:hover {
    background-color: #7191ca;

    border-radius: 10px;
}

#userList li.selected {
    background-color: #8ca7d5;
    border-radius: 10px;
}

#chat {
    height: 40rem;
    width: 80rem;
    overflow-y: auto;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.224);


}


.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.self-bubble {
    background-color: #0069fc;
    color: #fff;

    padding: 10px;
    align-self: flex-end;
}

.other-bubble {
    padding: 10px;
    align-self: flex-start;
    background-color: #4b4d50;
    color: white;
}


#messageInput {
    width: 40rem;
    padding: 8px;
    border: 1px solid #a0aec0;
    border-radius: 4px;
    margin-right: 8px;
}

#sendButton {
    background-color: #2b6cb0;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.interect {
    text-align: center;
}