:root {
    --navbar-color: #34495e;
    --font-family: 'Poppins', sans-serif;
    --categories-bg: #2c3e50;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

nav {
    background-color: var(--navbar-color);
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.search__container {
    padding-top: 5px;
    width: 500px;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 18px;
    line-height: 18px;
    color: white;
    border-radius: 50px;
    border: 1px solid #bdc3c7;
    letter-spacing: 1.5px;
}

.search__input::placeholder {
    color: #95a5a6;
    letter-spacing: 4px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #7f8c8d;
    border-radius: 0;
}

li {
    margin-right: 20px;
}

li a {
    display: block;
    color: #ecf0f1;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:focus {
    background-color: #0b1014;
    color: #ecf0f1;
    border-radius: 20px;
}

.close-btn {
    border: hidden;
    background-color: transparent;
    position: absolute;
    right: 10px;
    height: 30px;
    cursor: pointer;
    width: 30px;
}

.cancelimg {
    height: 30px;
    width: 30px;
}


.categories {
    z-index: 1;
    position: sticky;
    top: 80px;
    height: 50px;
    background-color: var(--categories-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.category-item {
    margin-right: 10px;
}

.category-item:hover,
.dropdown-content div:hover {
    transition: 0.7s;
    font-size: 17px;
    background-color: #34495e;
    color: #ecf0f1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown div {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 30px;
    z-index: 1;

    font: bolder;
    color: black;
    background-color: lightblue;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    column-count: 4;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


h1,
h2 {
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
}

.foot-panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 210px;
    display: flex;
    justify-content: space-evenly;
}

.ul {
    margin-top: 20px;
}

.ul a {
    display: block;
    text-decoration: none;
    color: #dddddd;
    font-size: 1.1rem;
    margin-top: 10px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
    font-size: 15px;
}

.copy {
    margin-top: 5px;
    font-size: 15px;
}

.pages a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}


.notifications {
    width: 70%;
    margin: 20px auto;
    margin-top: 5px;
    margin-left: 180px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20%;
}

.read-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.readed-notification {

    display: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-right: 20%;
}

.custom-dropdown-header {
    margin-top: 30px;
}



.notification {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 15px;
    position: relative;
    border-left: 5px solid #34495e;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
}

.notification:last-child {
    margin-bottom: 0;
}

.notification .title {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.notification .content {
    color: #555;
    padding-left: 5px;
}



.close-icon {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}